[tool.poetry]
name = "eptr2"
version = "0.2.3"
description = "EPIAS Transparency Platform v2.0 Python client by Robokami Data"
authors = ["Tideseed <info@tideseed.com>"]
license = "Apache License 2.0"
readme = "README.md"
exclude = ["runs", "data", "helpdocs"]


[tool.poetry.dependencies]
python = ">= 3.9.6"
pandas = { version = ">=2.1.3", optional = false }
requests = ">=2.31.0"

[tool.poetry.extras]
dataframe = ["pandas"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
