[tool.poetry]
name = "eptr2"
version = "0.1.4"
description = "EPIAS Transparency Platform v2.0 Python client by Robokami Data"
authors = ["Tideseed <info@tideseed.com>"]
license = "Apache License 2.0"
readme = "README.md"
exclude = ["runs", "data"]


[tool.poetry.dependencies]
python = "^3.10.4"
pandas = "^2.1.3"
requests = "^2.31.0"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
