[project]
name = "eptr2"
version = "1.2.2.dev0"
description = "EPIAS Transparency Platform v2.0 Python client by Robokami Data"
authors = [
    {name = "Tideseed", email = "info@tideseed.com"}
]
license = {text = "Apache License 2.0"}
readme = "README.md"
requires-python = ">=3.9.6,!=3.9.7"
dependencies = [
    "urllib3==2.5.0",
    "pytz>=2024.1",
]

[project.optional-dependencies]
dataframe = ["pandas>=2.1.3"]
allextras = [
    "pandas>=2.1.3",
    "streamlit>=1.48.0",
    "tornado>=6.5.0",
    "requests>=2.32.4"
]
dev = [
    "pytest>=7.4.0",
    "python-dotenv>=0.19.1",
]

[project.scripts]
eptr2demo = "eptr2.tutorials:run_composite_app"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.uv]
dev-dependencies = [
    "pytest>=7.4.0",
    "python-dotenv>=0.19.1",
]
